name: Deploy to cloudtype
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # 매일 00:00 UTC (한국시간 오전 9시)
  workflow_dispatch:
jobs:
  deploy-db:
    name: biolens-db Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Deploy DB
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: skku.biolens/biolens
          stage: main
          yaml: >
            name: postgresql

            app: postgresql@16

            options:
              rootusername: admin
              rootpassword: ${{ secrets.DB_ROOT_PASSWORD }}
              database: biolens
            context:
              preset: postgresql
              git:
                url: https://github.com/${{ github.repository }}.git
                ref: ${{ github.ref }}

  deploy-server:
    name: biolens-backend Deployment
    runs-on: ubuntu-latest
    needs: deploy-db
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: skku.biolens/biolens
          stage: main
          yaml: >
            name: biolens-backend

            app: node@24

            options:
              env:
                - name: NODE_ENV
                  value: production
                - name: DATABASE_URL
                  value: ${{ secrets.DATABASE_URL }}
                - name: OPENAI_API_KEY
                  value: ${{ secrets.OPENAI_API_KEY}}
              ports: 3000
              build: pnpm prisma generate && pnpm build
              start: pnpm start:prod
              install: corepack enable && pnpm install
              buildenv: []
            context:
              git:
                url: https://github.com/${{ github.repository }}.git
                ref: ${{ github.ref }}
              preset: nest.js
